body { 
	text-align: center;
	background: url(https://w.forfun.com/fetch/2a/2a9eca9549bbd7abd0b226730cdc93b1.jpeg);
}
h1, label {
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: #FFFFFF;
}
